<div class="relative mx-auto max-w-3xl">
  <div class="flex flex-wrap justify-between">
    <app-account-summary
      [colorScheme]="colorScheme.DARK"
      [accountType]="account.CREDIT_CARD"
      [amount]="2567.12"
      [delta]="-5.29"
    ></app-account-summary>
    <app-account-summary
      [colorScheme]="colorScheme.YELLOW_ORANGE"
      [accountType]="account.SAVINGS"
      [amount]="10561.12"
      [delta]="13.45"
    ></app-account-summary>
    <app-account-summary
      [colorScheme]="colorScheme.LIGHT"
      [accountType]="account.K401"
      [amount]="107789.53"
      [delta]="1.35"
    ></app-account-summary>
  </div>
</div>

<app-accounts-bar-graph> </app-accounts-bar-graph>
