<div class="example-action-buttons">
  <button mat-button (click)="accordion.openAll()">Expand All</button>
  <button mat-button (click)="accordion.closeAll()">Collapse All</button>
</div>
<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel *ngFor="let transaction of transactions">
    <mat-expansion-panel-header class="right-aligned-header">
      <mat-panel-title>{{ transaction.name }} </mat-panel-title>
      <mat-panel-description>
        {{ transaction.category }}
        <span style="float: right">
          {{ transaction.amount | moneyFormatter }}
        </span>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <button
      mat-raised-button
      style="float: right"
      color="warn"
      (click)="deleteTransaction(transaction)"
    >
      Delete
    </button>
  </mat-expansion-panel>
</mat-accordion>
