<div class="example-action-buttons">
  <button mat-button (click)="accordion.openAll()">Expand All</button>
  <button mat-button (click)="accordion.closeAll()">Collapse All</button>
</div>
<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel *ngFor="let transaction of transactions">
    <mat-expansion-panel-header class="right-aligned-header">
      <mat-panel-title>{{ transaction.name }} </mat-panel-title>
      <mat-panel-description>
        {{ transaction.category.value }}
        <span style="float: right">
          {{ transaction.amount | moneyFormatter }}
        </span>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>
      {{ transaction.day | dateFormatter: transaction.month:transaction.year }}
      <br />
      Recurring: {{ transaction.recurring }}
      <div style="float: right">
        <button
          mat-raised-button
          style="margin-right: 1rem"
          color="secondary"
          (click)="editTransaction(transaction)"
        >
          Edit
        </button>
        <button
          mat-raised-button
          color="warn"
          (click)="deleteTransaction(transaction)"
        >
          Delete
        </button>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
