<div
  class="relative min-w-full mt-5 p-2 bg-neutral-100 dark:bg-atom-800 rounded-lg"
>
  <div class="flex justify-end my-2">
    <div class="relative inline-block text-left">
      <div>
        <app-dropdown
          [values]="dropdownValues"
          (select)="action($event)"
        ></app-dropdown>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-12 gap-2 h-64">
    <!-- y-axis -->
    <div
      class="flex row-start-1 row-end-6 items-center justify-center bg-gray-200 rounded-md"
    >
      Y Axis
    </div>
    <!-- bar graph -->
    <div
      class="flex row-start-1 row-end-6 col-start-2 col-end-13 items-center justify-center bg-gray-200 rounded-md"
    >
      Data
    </div>
    <!-- x-axis -->
    <div
      class="flex col-start-2 col-end-13 items-center justify-center bg-gray-200 rounded-md"
    >
      X Axis
    </div>
  </div>
</div>
