<div
  class="relative min-w-full mt-5 p-2 bg-neutral-100 dark:bg-atom-800 rounded-lg"
>
  <div class="flex items-center justify-between my-2">
    <div
      class="ml-2 text-2xl text-neutral-800 dark:text-atom-200 font-semibold font-"
    >
      Net Worth
    </div>
    <div>
      <div class="relative inline-block text-left mr-1">
        <app-dropdown
          [values]="colorDropdownValues"
          [identifier]="'color-dropdown'"
          (currentSelectionChange)="setColor($event)"
        ></app-dropdown>
      </div>
      <div class="relative inline-block text-left">
        <app-dropdown
          [values]="periodDropdownValues"
          [identifier]="'period-dropdown'"
          (currentSelectionChange)="action($event)"
        ></app-dropdown>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-12 gap-2">
    <!-- y-axis -->
    <div
      class="flex row-start-1 row-end-6 items-center justify-center text-sm text-gray-600 dark:text-atom-300 rounded-md"
    >
      <div class="flex flex-col justify-between h-full my-2 whitespace-nowrap">
        <div *ngFor="let value of this.valueRange">
          {{ value | moneyFormatterSmall }}
        </div>
      </div>
    </div>
    <!-- bar graph -->
    <div
      class="flex h-56 items-end row-start-1 row-end-6 col-start-2 col-end-13 text-gray-600 dark:text-atom-300 rounded-md"
    >
      <app-bar
        [style.height]="item.size"
        [color]="nextColor()"
        [value]="getValue(item.size)"
        *ngFor="let item of this.data_old"
      ></app-bar>
    </div>
    <!-- x-axis -->
    <div
      class="flex col-start-2 col-end-13 h-6 text-gray-600 dark:text-atom-300 rounded-md"
    >
      <div
        class="flex justify-center items-center w-6 mx-4 text-sm whitespace-nowrap"
        *ngFor="let x of timeline"
      >
        <div *ngIf="this.monthly()">
          {{ x | dateShort }}
        </div>
        <div *ngIf="this.quarterly()">
          {{ x | dateQuarter }}
        </div>
        <div *ngIf="this.yearly()">
          {{ x | dateYear }}
        </div>
      </div>
    </div>
  </div>
</div>
