<div
  class="relative min-w-full mt-5 p-2 bg-neutral-100 dark:bg-atom-800 rounded-lg"
>
  <div class="flex justify-end my-2">
    <div class="relative inline-block text-left">
      <div>
        <app-dropdown
          [values]="dropdownValues"
          (select)="action($event)"
        ></app-dropdown>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-12 gap-2">
    <!-- y-axis -->
    <div
      class="flex row-start-1 row-end-6 items-center justify-center text-sm text-gray-600 dark:text-atom-300 rounded-md"
    >
      <div class="flex flex-col justify-between h-full my-2">
        <div *ngFor="let value of this.valueRange.reverse()">
          {{ value | moneyFormatterSmall }}
        </div>
      </div>
    </div>
    <!-- bar graph -->
    <div
      class="flex h-56 items-end row-start-1 row-end-6 col-start-2 col-end-13 text-gray-600 dark:text-atom-300 rounded-md"
    >
      <app-bar
        [style.height]="item.size"
        [color]="nextColor()"
        *ngFor="let item of this.data"
      ></app-bar>
    </div>
    <!-- x-axis -->
    <div
      class="flex col-start-2 col-end-13 h-6 text-gray-600 dark:text-atom-300 rounded-md"
    >
      <div
        class="flex justify-center items-center w-6 mx-4 text-sm whitespace-nowrap"
        *ngFor="let x of timeline"
      >
        {{ x | dateShort }}
      </div>
    </div>
  </div>
</div>
