<div class="example-container">
  <div class="form-container">
    <form [formGroup]="form" (submit)="submit()">
      <mat-form-field class="form-field" appearance="standard">
        <mat-label> E-mail </mat-label>
        <input matInput formControlName="email" required />
        <mat-error
          *ngIf="form.controls.email.touched && form.controls.email.invalid"
        >
          <span *ngIf="form.controls.email.errors.required"
            >This field is mandatory.</span
          >
          <span *ngIf="form.controls.email.errors.pattern"
            >This field is invalid.</span
          >
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label> Password </mat-label>
        <input matInput formControlName="password" type="password" />
        <mat-error
          *ngIf="
            form.controls.password.touched && form.controls.password.invalid
          "
        >
          <span *ngIf="form.controls.password.errors.required"
            >This field is mandatory.</span
          >
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Log In</button>
    </form>
  </div>
</div>
