.example-container {
  // border: 3px solid green;
  text-align: center;
  margin: auto;
}

.form-container {
  // border: 3px solid cadetblue;
  margin: 1px auto;
  margin-top: 20px;
}

.form-field {
  display: block;
}

.left-align {
  text-align: left;
}

.submit-button {
  float: right;
}
.save-button {
  float: right;
}

.float-container {
  // border: 3px solid blue;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.float-child {
  // border: 3px solid red;

  max-width: fit-content;
  min-width: 400px;

  flex-grow: 3;

  padding: 20px;
  margin: 5px;
}
