.example-container {
  text-align: center;
}

.form-container {
  width: 400px;
  margin: 1px auto;
  margin-top: 20px;
}

.form-field {
  display: block;
}

.left-align {
  text-align: left;
}

.submit-button {
  float: right;
}
.save-button {
}
